.section__about {
  padding: 5rem 0;
}
.about__title {
  text-align: left;
  margin-bottom: 2rem;
}
.about__title .underline {
  margin-left: 0;
}
.about__title > h2 {
  color: white;
}
.section__center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.about__center {
  display: grid;
  gap: 3rem 2rem;
}
.about__img {
  justify-self: center;
}
.hero__photo {
  max-width: 20rem;
  max-height: 32rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}
.about__info > p {
  color: white;
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  .about__center {
    grid-template-columns: 1fr 1fr;
  }
  .about__img {
    position: relative;
  }
  .about__img::before {
    left: -2rem;
  }
  .about__info {
    align-self: center;
  }
}
