* {
  margin: 0;
}

body {
  margin: 0px;
  font-family: 'Roboto', 'serif';
  background-color: #0e1112;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 4px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
.btn {
  text-transform: uppercase;
  background: hsl(42, 78%, 60%);
  color: hsl(43, 86%, 17%);
  padding: 6px 12px;
  letter-spacing: 0.5px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-decoration: none;
}
.underline {
  width: 80px;
  height: 4px;
  margin-bottom: 20x;
  background: #f00946;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 16px;
  }
  body {
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
